body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/small-holly-tree-branch-snow-seamless-pattern-vector-background_58717-350.jpg');
    
}


body >* {
    padding: 0 5vw;  
}

.navbar {
    margin:0;
    margin-bottom: 2vh;
    box-shadow: 0 2px 9px 3px rgba(50,52,64,.25);
    background-color: rgb(255, 66, 66); 
    padding-right:5vw; 
    padding-left: 5vw;
}

.navbar-brand {
    font-size: 2em;
    font-weight:900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.nav-link {
    font-size: 1.5em;
}

.nav-item{
    margin: 0 0.7em;
}

.navbar form {
    margin:0 auto;
    display: inline;
}

.navbar input {
    margin: 0;
    border:1px solid red;
    height: auto;
}
.navbar button {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.group {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
}


.content {
    min-height:85vh;
    width: auto;
    height: auto;
    margin-bottom: 0;
}

footer {
    margin: 0;
    background-color: #7eca5b;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}