.index-about {
    height: 70vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    background-color:#ff7878;
}

.index-about p {
    font-size: 3.5vmin;
    color: rgb(51, 47, 47);
    font-style: italic;
    font-weight: 200;
    margin: 0 auto;
}

.index-about img {
    max-height: 50%;
    width: auto;
    margin: 0 auto;
}

.index-about form {
    max-width:85%;
    margin:0 auto;
}
.index-about input {
    width:250px;
    max-width: 45%;
    margin: 0 auto;
    border-radius: 11px;
    border:1px solid bred;
}

.message {
    color: red;
    font-size: 2.5vh;
    font-style: bold;
}