.container {
    min-height: 70vh;
    height: auto;
    margin: 0;
}

#main-form {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.save-btn {
    width: 20%;
}

#error-message {
    margin-top: 20px;
}

input:valid {
    border:solid 2px black;
}

input:invalid {
    border: solid 2px red;
}