{% extends 'base.html' %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="/static/index.css">
{% endblock %}


{% block content %}
<div class="index-about">
    <img src="/static/images/ss-1.jpg" alt="ss-1">
    {% if message %}
        <div class="message">Warning! {{message}}</div>
    {% endif %}
    <p> Search for your Secret Santa Group.</p>
    <form action='/' method="POST">
        <input name="lobby_lookup" type="text" placeholder="Search group" required>
        <button type="submit" class="btn-info">Search</button>
    </form>
    <div>
        <p>Or make a <a href="/new_lobby">new group</a> instead.</p>
    </div>
</div>



{% endblock %}