{% extends 'base.html' %}
{% block title %}
<link rel="stylesheet" type="text/css" href="/static/new_lobby.css">
{% endblock %}

{% block content %}

<div class="index-about">
    <img src="/static/images/ss-2.jpg" alt="ss-2">
    <div class="new-lobby-info">
        <h1>How to use:</h1>
        <p>- First, think of a name for your group.</p>
        <p>- Be sure to use a code you will remember in case you need to make changes later.</p>
        <p>- Try not to use ^ in your group name.</p>
    </div>
    
    {% if message %}
        <div class="message">Warning! {{message}}</div>
    {% endif %}
    <div id="error-message" class="message" style="display: none;">Passcodes aren't matching</div>
    <div id="repeat-message" class="message" style="display:none;">Please don't use ^ in the name</div>
    <form method="POST" id="signup" action="/new_group">
        <input name="group_name" class="group_name" type="text" placeholder="New group name" required>
        <input class="passcode" name="passcode" type="number" placeholder="Passcode(eg: 420, 1592)" style="width: 250px;" required>
        <input class="passcode2" name="confirm_passcode" type="number" placeholder="Confirm passcode" style="width: 250px;"  required>
        <button type="submit" class="button">submit</button>
    </form>
</div>

<script src="/static/new_lobby.js"></script>

{% endblock %}